<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Homeflix</title>

    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
  </head>
  <body>
    <nav class="header navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="brand navbar-header">
          <a class="navbar-brand" href="#">Homeflix</a>
        </div>
        <div class="collapse navbar-collapse">
          <form class="search navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
          </form>
        </div>
      </div>
    </nav>

    <script type="text/x-handlebars" data-template-name="homeflix">
      <div class="movies container">
        <ul class="row">
          <li class="movie col-md-2"><a href="#" class="thumbnail"><img src="img/cover-placeholder.gif"></a></li>
          <li class="movie col-md-2"><a href="#" class="thumbnail"><img src="img/cover-placeholder.gif"></a></li>
          <li class="movie col-md-2"><a href="#" class="thumbnail"><img src="img/cover-placeholder.gif"></a></li>
          <li class="movie col-md-2"><a href="#" class="thumbnail"><img src="img/cover-placeholder.gif"></a></li>
          <li class="movie col-md-2"><a href="#" class="thumbnail"><img src="img/cover-placeholder.gif"></a></li>
          <li class="movie col-md-2"><a href="#" class="thumbnail"><img src="img/cover-placeholder.gif"></a></li>
          <li class="movie col-md-2"><a href="#" class="thumbnail"><img src="img/cover-placeholder.gif"></a></li>
          <li class="movie col-md-2"><a href="#" class="thumbnail"><img src="img/cover-placeholder.gif"></a></li>
          <li class="movie col-md-2"><a href="#" class="thumbnail"><img src="img/cover-placeholder.gif"></a></li>
          <li class="movie col-md-2"><a href="#" class="thumbnail"><img src="img/cover-placeholder.gif"></a></li>
          <li class="movie col-md-2"><a href="#" class="thumbnail"><img src="img/cover-placeholder.gif"></a></li>
          <li class="movie col-md-2"><a href="#" class="thumbnail"><img src="img/cover-placeholder.gif"></a></li>
          <li class="movie col-md-2"><a href="#" class="thumbnail"><img src="img/cover-placeholder.gif"></a></li>
          <li class="movie col-md-2"><a href="#" class="thumbnail"><img src="img/cover-placeholder.gif"></a></li>
          <li class="movie col-md-2"><a href="#" class="thumbnail"><img src="img/cover-placeholder.gif"></a></li>
          <li class="movie col-md-2"><a href="#" class="thumbnail"><img src="img/cover-placeholder.gif"></a></li>
          <li class="movie col-md-2"><a href="#" class="thumbnail"><img src="img/cover-placeholder.gif"></a></li>
          <li class="movie col-md-2"><a href="#" class="thumbnail"><img src="img/cover-placeholder.gif"></a></li>
          <li class="movie col-md-2"><a href="#" class="thumbnail"><img src="img/cover-placeholder.gif"></a></li>
          <li class="movie col-md-2"><a href="#" class="thumbnail"><img src="img/cover-placeholder.gif"></a></li>
          <li class="movie col-md-2"><a href="#" class="thumbnail"><img src="img/cover-placeholder.gif"></a></li>
          <li class="movie col-md-2"><a href="#" class="thumbnail"><img src="img/cover-placeholder.gif"></a></li>
          <li class="movie col-md-2"><a href="#" class="thumbnail"><img src="img/cover-placeholder.gif"></a></li>
          <li class="movie col-md-2"><a href="#" class="thumbnail"><img src="img/cover-placeholder.gif"></a></li>
          </ul>
        </div>
      </div>
    </script>

    <script src="js/libs/jquery-1.11.1.min.js"></script>
    <script src="js/libs/handlebars-v1.3.0.js"></script>
    <script src="js/libs/ember.js"></script>
    <script src="js/libs/ember-data.js"></script>
    <script src="js/application.js"></script>
    <script src="js/router.js"></script>
  </body>
</html>
