<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Homeflix</title>

    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
  </head>
  <body>
    <script type="text/x-handlebars">
      <nav class="header navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid col-lg-8 col-lg-offset-2">
          <div class="brand navbar-header">
            <a class="navbar-brand" href="#">Homeflix</a>
          </div>
          <ul class="nav navbar-nav">
            <li>{{#link-to 'movies'}}Movies{{/link-to}}</li>
            <li>{{#link-to 'files'}}Files{{/link-to}}</li>
          </ul>
        </div>
      </nav>

      <div class="content container-fluid col-lg-8 col-lg-offset-2">
        {{outlet}}
      </div>
    </script>

    <script type="text/x-handlebars" data-template-name="movies">
      <div class="movies row">
        <div class="search row">
          <form class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0" role="search">
            {{input
              type="text"
              class="form-control col-sm-4"
              placeholder="Search"
              autofocus="autofocus"
              value=query}}
          </form>
        </div>

        <div class="search-results row">
          {{#each movie in filteredMovies itemController="movie"}}
            <div class="movie col-xs-6 col-sm-2">{{#link-to 'movie' movie class='thumbnail'}}<img {{bind-attr src="movie.coverUrl"}}><p>{{movie.title}}</p>{{/link-to}}</div>
          {{else}}
            <p class="no-results">Nothing to see!</p>
          {{/each}}
        </div>
      </div>
    </script>

    <script type="text/x-handlebars" data-template-name="movie">
      <div class="movie row">
        <div class="col-xs-4">
          <img {{bind-attr src="coverUrl"}}>
        </div>
        <div class="col-xs-8">
          <h2>{{title}}</h2>

          <table class="table table-striped">
            <thead>
              <tr>
                <th>Files</th>
              </tr>
            </thead>
            <tbody>
              {{#each files}}
                <tr>
                  <td>{{name}}</td>
                </tr>
              {{else}}
                <p class="no-results">None!</p>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </script>

    <script type="text/x-handlebars" data-template-name="files">
      <div class="files row">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Filename</th>
              <th>Movie</th>
            </tr>
          </thead>
          <tbody>
            {{#each file in model}}
              <tr>
                <td>{{file.name}}</td>
                <td>{{file.movie.title}}</td>
              </tr>
            {{else}}
              <p class="no-results">Nothing to see!</p>
            {{/each}}
          </tbody>
        </table>
      </div>
    </script>

    <script src="js/libs/jquery-1.11.1.min.js"></script>
    <script src="js/libs/handlebars-v1.3.0.js"></script>
    <script src="js/libs/ember.js"></script>
    <script src="js/libs/ember-data.js"></script>
    <script src="js/application.js"></script>
    <script src="js/router.js"></script>
    <script src="js/models/movie.js"></script>
    <script src="js/models/file.js"></script>
    <script src="js/controllers/movie_controller.js"></script>
    <script src="js/controllers/movies_controller.js"></script>
  </body>
</html>
